@tailwind base;
@tailwind components;
@tailwind utilities;

.mypage{
    margin: 0px;
    padding: 0px;
    background-image: url("futuric-world-high-buildings-night-art.jpg");
    background-size: cover;
    height: 100%;
}
.Footer{
    background-color: black;
}